* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:white;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  font-family: montserrat;
  line-height: 1.6;
  color: $clr2;
}

body {
  height: 100vh;
  font-size: rem(18px);
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: caveat;

  line-height: 1;
}

// img {
//     width: 100%;
// }

p {
  margin: 0 0 1em;
  max-width: 40ch;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: $clr4;
}

::-webkit-scrollbar-thumb {
  background-color: $clr2;
  outline: 1px solid $clr2;
}
button {
  cursor: pointer;
  &.icon {
    background: none;
    border: none;
  }
}
