#app {
  height: 100%;
}
.app-container {
  &.main-container {
    padding: 0;
    // height: 100%;
    grid-template-rows: 125px 1fr 517px;
    background-color: #181f2b;

    main {
      overflow-y: auto;
      // background: url("../svgs/bg-curvy-desktop.svg");
    }

    header {
      background-color: #1b2330;
    }

    footer {
    background-color: #0b1524;
            @media screen and (max-width: 700px) {
             height: 980px;
              }
    }
    main {
      padding: 1em 0;
    }
  }
}
