.app-header {
      height: 125px;
     
  .header-container {
    // position: relative;
    .logo-container {
        max-width: 176px;
        max-height: 52px;
    
        svg {
          max-width: 100%;
          max-height: 100%;
    
        }
      }

    @media screen and (max-width: 700px) {
      .logo-container {
          max-width: 80px;
          max-height: 24px;
          svg>*{
            max-width:100%;
            max-height: 100%;

          }
        }
    }
  }
}
