.categories-container{
  background-color: #181f2b;
  margin-top: 180px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  max-width: 880px;
    @media screen and (max-width: 700px) {
        max-width: 350px;
        align-items: center;
      }
  >*{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 147px 97px 0;
    text-align: center;
    .sub-txt{
      text-align: center;
    }
         @media screen and (max-width: 700px) {
          justify-content: center;
          margin: 0 0 89px 0;
         }
  }
  h2{
    font-family: "Raleway - Bold";
    font-size: 20px;
  }
  p{
    font-family: "Open Sans - Regular";
    font-size: 14px;
  }
}
